<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>facebook</key>
	<dict>
		<key>app-id</key>
		<string>351817994870666</string>
		<key>app-secret</key>
		<string>fe8fe1013f147a3a11c6fea35449f7dd</string>
	</dict>
	<key>twitter</key>
	<dict>
		<key>consumer-key</key>
		<string>TKDlsGJXGq2OIo0SeX9Pw</string>
		<key>consumer-secret</key>
		<string>ysxofmnseOZXN24tfrFTqW2DWlWSMfT6Usg908DZl0</string>
		<key>callback-url</key>
		<string>http://www.tttthomasssss.com</string>
		<key>access-token</key>
		<string>48329145-tS1kyYFoyh4THBYxZAyYxhCKlCWzFYaFLs90kc1kk</string>
		<key>access-token-secret</key>
		<string>7DL8XEn3OtZafV2D5cvCfGdmRZiYUdwqxIguTPJQ</string>
	</dict>
	<key>google+</key>
	<dict>
		<key>client-id</key>
		<string>1045145999063.apps.googleusercontent.com</string>
		<key>client-secret</key>
		<string>OjrMiXR2pjojH4DPK_mwbsdB</string>
	</dict>
	<key>flickr</key>
	<dict>
		<key>consumer-key</key>
		<string>dj0yJmk9c0d3YVV4bUxRd2ZyJmQ9WVdrOU0zSnFORkZwTjJVbWNHbzlORGM0TURVek5qWXkmcz1jb25zdW1lcnNlY3JldCZ4PTYz</string>
		<key>consumer-secret</key>
		<string>48fc0958b5f0d78c1452f4cd4e8026e8399657ec</string>
	</dict>
	<key>readitlater</key>
	<dict>
		<key>api-key</key>
		<string>f52AtUf7d0xo7o17eDp1f63p2aT3w3bs</string>
	</dict>
	<key>bitly</key>
	<dict>
		<key>consumer-key</key>
		<string>bb10dd6f3a8f4d306a7a52fb2d4baf864b7ae996</string>
		<key>consumer-secret</key>
		<string>ce42da35f43a713ae2081539b0c079a37f2a4bb9</string>
		<key>api-key</key>
		<string>R_07149e291f55c1e94e6ac1528d40068d</string>
		<key>login</key>
		<string>tttthomasssss</string>
	</dict>
	<key>tumblr</key>
	<dict>
		<key>consumer-key</key>
		<string>qRSmAxBAldFIt3n2ps8gfFz8P28qqzclahs0W5hyNFhz0qd65o</string>
		<key>consumer-secret</key>
		<string>IIZCqCQNqf3yASAQYMhgHBbJpIcV3WNb0y3JsGbx6cRu9IVDCU</string>
	</dict>
	<key>linkedin</key>
	<dict>
		<key>consumer-key</key>
		<string>x7wc03d30wex</string>
		<key>consumer-secret</key>
		<string>qpDILV6Un00wjfTe</string>
	</dict>
	<key>youtube</key>
	<dict>
		<key>api-key</key>
		<string>AI39si6oqKsVyzM6ZPtD03UYvg5xxdlSlMawgZC9mbjpibnWTXxY8sT3O-WqjtOLEkzOW5OXmwwtO1sygv34j5bROCio8AAMxg</string>
	</dict>
	<key>digg</key>
	<dict>
		<key>consumer-key</key>
		<string>5c4397a562da4e6421ebfe5034f0bf73</string>
		<key>consumer-secret</key>
		<string>3ea0eb458cee7f5011f2d0b4115f6292</string>
	</dict>
	<key>foursquare</key>
	<dict>
		<key>consumer-key</key>
		<string>WXCR2SKBXGFBTA2TXVHYQKIZCIKARV2Z5GB0052EHTTPKKFK</string>
		<key>consumer-secret</key>
		<string>2IBJQP55I53X4OEJSD1TIDXAS2LNBU5RFXKVKF4HU3C3VOMU</string>
	</dict>
	<key>instapaper</key>
	<dict>
		<key>consumer-key</key>
		<string>302ZU7O90gmFNHhE4Ull0vUPsq1cYUOxXmatmrZFk6WqsS2K3d</string>
		<key>consumer-secret</key>
		<string>Dn1l6elkR3kpwzMsHOx8mDZ4Wcegwdil72orOGx4QXSjXEImhh</string>
	</dict>
	<key>deviantart</key>
	<dict>
		<key>consumer-key</key>
		<string>168</string>
		<key>consumer-secret</key>
		<string>98d6378310a127f07e4a4ecc29d364dd</string>
	</dict>
	<key>github</key>
	<dict>
		<key>consumer-key</key>
		<string>2b64684a14de05457688</string>
		<key>consumer-secret</key>
		<string>0716c0e4617441f2291fc66947bec7f6a0ad74ca</string>
	</dict>
	<key>steam</key>
	<dict>
		<key>api-key</key>
		<string>7670B9C5CA1D9BAFA66978F265843093</string>
	</dict>
</dict>
</plist>
